.menu-rotation-effect-container {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    font-family: sans-serif;
}

.menu-rotation-effect {
    margin: 0;
    padding: 0;
    display: flex;
}

.menu-rotation-effect li {
    list-style: none;
}

.menu-rotation-effect li a {
    position: relative;
    display: block;
    padding: 15px 30px;
    margin: 0 15px ;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.menu-rotation-effect li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid #ffeb3b;
    border-left: 2px solid #ffeb3b;
    transition: 0.5s;
    box-sizing: border-box;
    transform-origin: left;
}

.menu-rotation-effect li a:hover:before{
    width: 15px;
    height: 15px;
    transform: rotate(360deg)
}

.menu-rotation-effect li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #ffeb3b;
    border-right: 2px solid #ffeb3b;
    transition: 0.5s;
    box-sizing: border-box;
    transform-origin: right;
}

.menu-rotation-effect li a:hover:after{
    width: 15px;
    height: 15px;
    transform: rotate(360deg)
}