.splited-menu-effect-container {
     margin-top: 20px;
    margin-bottom: 20px;
    display:flex;
    align-items: center;
    justify-content:center;
    height: 10vh;
    font-family: sans-serif;
}

.splited-menu-effect {
    margin: o;
    padding: o;
    display:flex;
    list-style-type:none;
}

.splited-menu-effect li a {
    display:block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: red;
    text-transform: capitalize;
    text-decoration: none;
    position:relative;
    transition:all 0.5s;
    color: #cf1c1c;
}

.splited-menu-effect li a:hover{
    color: white;
}

.splited-menu-effect li a span {
    position:absolute;
    width: 100%;
    height:25% ;
    background-color: #8c9632;
    z-index: -1;
    left: 0;
    top: 0;
    transform: scalex(0);
    transition: all 0.5s;
    transform-origin: top;
}

.splited-menu-effect li a:hover span {
    transform: scaleX(1)
}

.splited-menu-effect li a span:nth-child(2){
    top: 25%;
    transition-delay: 0.23s;
} 
.splited-menu-effect li a span:nth-child(3){
    top: 50%;
    transition-delay: 0.2s;
} 

.splited-menu-effect li a span:nth-child(4){
    top: 75%;
    transition-delay: 0.15s;
} 
